<%= form_for :group, url: groups_path do |f| %>
<p>
  Название команды:
  <%= f.text_field :name %>
</p>
  <p>
    Дата распределения:
    <%= f.date_select :date %>
  </p>
  <p>
    Пароль:
    <%= f.password_field :password_field %>
  </p>
  <p>
    Имя и фамилия:
    <%= f.text_field :name_user %>
  </p>
  <p>
    Адрес электронной почты:
    <%= f.email_field :email %>
  </p>
  <p>
    Пожелания для тайного санты:
    <%= f.text_area :wish %>
  </p>
<% end %>
<%= link_to :controller => :db do %>
  <button class="button">Отправить</button>
<% end %>