<%= form_for :group, url: {:controller=>"home"} do |f| %>
  <p>
    Название команды
    <%= f.text_field :name %>
  </p>
  <p>
    Дата распределения:
    <%= f.text_field :name %>
  </p>
  <p>

  </p>
  <p>
    Имя и фамилия:
    <%= f.text_field :name_user %>
  </p>
  <p>
    Адрес электронной почты:
    <%= f.text_field :email %>
  </p>
  <p>
    Пожелания для тайного санты:
    <%= f.text_area :name %>
  </p>
  <p>
    <%= f.submit("Отправить") %>
  </p>
<% end %>