<%= form_with model: @group do |f| %>
  <p>
    Название команды:
    <%f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    Дата распределения:
    <%f.label :date %>
    <%= f.date_select :date %>
  </p>
  <p>
    Пароль:
    <%f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    Отправить
    <%= f.submit %>
  </p>
<% end %>
