<%= form_with model: @user do |f| %>
  <p>
    Пароль:
    <%f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    Имя и фамилия:
    <%f.label :name_user %>
    <%= f.text_field :name_user %>
  </p>
  <p>
    Адрес электронной почти:
    <%f.label :email %>
    <%= f.email_field :email %>
  </p>
  <p>
    Пожелания для Тайного Санты:
    <%f.label :wish %>
    <%= f.text_area :wish %>
  </p>

  <p>
    <%= f.submit "Отправить"%>
  </p>
<% end %>